<div class="home-teachers-main">
  <div class="container">
    <div
      class="home-teachers-title wow animate__fadeInUp animate__delay-1s bounceInUp"
    >
      <h2>Administration</h2>
    </div>
    <!-- END! home-teachers-title -->

    <div class="principle wow animate__fadeInUp animate__delay-2s bounceInUp">
      <div class="image">
        <img src="./assets/images/Ellipse 1.png" alt="" />
      </div>

      <div class="text">
        <div class="title">
          <div class="title-main">
            <img class="img-left" src="./assets/images/Vector 1.png" alt="" />
            <h3>অধ্যক্ষ</h3>
            <img class="img-right" src="./assets/images/Vector 2.png" alt="" />
          </div>
          <h3 class="left">প্রফেসর মোহাম্মদ ইউসুফ</h3>
        </div>
        <!-- END of title -->

        <p>
          মানব কল্যাণ, অসাম্প্রদায়িক চেতনা, সামাজিক সৌহার্দ্যপূর্ণ সম্পর্ক,
          উন্নততর জীবন ও মানবিক মূল্যবোধ বিকাশের ক্ষেত্রে শিক্ষার ভূমিকা
          অনস্বীকার্য। শিক্ষাই পারে জীবনের গতিপথের সার্বিক পরিবর্তন করতে।
          শিক্ষাকে উপজীব্য করে অনেক জাতিই বিশ্ব দরবারে প্রশংসিত ও প্রতিষ্ঠিত
          হয়েছে। বিশ্ব আজ দ্রুত পরিবর্তনের ধারায় ধাবমান। এই পরিবর্তনকে মানিয়ে
          নিতে আমাদেরকেও সামনের দিকে এগিয়ে যেতে হবে। বিশ্বায়নের চ্যালেঞ্জকে
          মাথায় নিয়ে বর্তমান সরকারের 'রূপকল্প ২০২১' বাস্তবায়নের পর সবাইকে সমান
          তালে এগিয়ে যেতে হবে পরবর্তী লক্ষ্যে। ২০৪১ সালের মধ্যে উন্নত রাষ্ট্র
          গঠনের যে সোপানে আমাদের যাত্রা শুরু হয়েছে তার সফল পরিসমাপ্তিতে আজকের
          ছাত্র সমাজকেই অগ্রণী ভূমিকা পালন করতে হবে। সেই প্রচেষ্টায় ঢাকা কলেজ
          একটি উজ্জ্বল নাম। বর্তমানে এই প্রতিষ্ঠানের নতুন উদ্যোগ
          'অনলাইনকার্যক্রম' সেই প্রচেষ্টাকে আরও বহুগুণ বাড়িয়ে দিয়েছে। সরকার
          ঘোষিত ডিজিটাল বাংলাদেশ বিনির্মাণে প্রতিষ্ঠানের পথ চলা হোক দীপ্তিময়। এ
          প্রতিষ্ঠানের শিক্ষার্থীরা নিজ নিজ ক্ষেত্রে একজন সফল মানুষ হিসেবে
          প্রতিষ্ঠিত হবে এ <span>আমার প্রত্যাশা</span>
        </p>

        <div class="btn">
          <button class="formal">Formal Principles</button>
          <button class="see-more">See More</button>
        </div>
        <!-- END! btn -->
      </div>
      <!-- END of text -->
    </div>
    <!-- END of principle -->

    <div
      class="principle principle-second wow animate__fadeInUp animate__delay-3s bounceInUp"
    >
      <div class="text">
        <div class="title">
          <div class="title-main">
            <img class="img-left" src="./assets/images/Vector 1.png" alt="" />
            <h3>উপাধ্যক্ষ</h3>
            <img class="img-right" src="./assets/images/Vector 2.png" alt="" />
          </div>
          <h3 class="left">প্রফেসর এ টি এম মইনুল হোসাইন</h3>
        </div>
        <!-- END of title -->

        <p>
          মানব কল্যাণ, অসাম্প্রদায়িক চেতনা, সামাজিক সৌহার্দ্যপূর্ণ সম্পর্ক,
          উন্নততর জীবন ও মানবিক মূল্যবোধ বিকাশের ক্ষেত্রে শিক্ষার ভূমিকা
          অনস্বীকার্য। শিক্ষাই পারে জীবনের গতিপথের সার্বিক পরিবর্তন করতে।
          শিক্ষাকে উপজীব্য করে অনেক জাতিই বিশ্ব দরবারে প্রশংসিত ও প্রতিষ্ঠিত
          হয়েছে। বিশ্ব আজ দ্রুত পরিবর্তনের ধারায় ধাবমান। এই পরিবর্তনকে মানিয়ে
          নিতে আমাদেরকেও সামনের দিকে এগিয়ে যেতে হবে। বিশ্বায়নের চ্যালেঞ্জকে
          মাথায় নিয়ে বর্তমান সরকারের 'রূপকল্প ২০২১' বাস্তবায়নের পর সবাইকে সমান
          তালে এগিয়ে যেতে হবে পরবর্তী লক্ষ্যে। ২০৪১ সালের মধ্যে উন্নত রাষ্ট্র
          গঠনের যে সোপানে আমাদের যাত্রা শুরু হয়েছে তার সফল পরিসমাপ্তিতে আজকের
          ছাত্র সমাজকেই অগ্রণী ভূমিকা পালন করতে হবে। সেই প্রচেষ্টায় ঢাকা কলেজ
          একটি উজ্জ্বল নাম। বর্তমানে এই প্রতিষ্ঠানের নতুন উদ্যোগ
          'অনলাইনকার্যক্রম' সেই প্রচেষ্টাকে আরও বহুগুণ বাড়িয়ে দিয়েছে। সরকার
          ঘোষিত ডিজিটাল বাংলাদেশ বিনির্মাণে প্রতিষ্ঠানের পথ চলা হোক দীপ্তিময়। এ
          প্রতিষ্ঠানের শিক্ষার্থীরা নিজ নিজ ক্ষেত্রে একজন সফল মানুষ হিসেবে
          প্রতিষ্ঠিত হবে এ <span>আমার প্রত্যাশা</span>
        </p>

        <div class="btn">
          <button class="formal">Formal Principles</button>
          <button class="see-more">See More</button>
        </div>
        <!-- END! btn -->
      </div>
      <!-- END of text -->

      <div class="image">
        <img src="./assets/images/Ellipse 2.png" alt="" />
      </div>
      <!-- END! image -->
    </div>
    <!-- END of principle -->

    <div class="principle wow animate__fadeInUp animate__delay-4s bounceInUp">
      <div class="image">
        <img src="./assets/images/Ellipse 3.png" alt="" />
      </div>

      <div class="text">
        <div class="title">
          <div class="title-main">
            <img class="img-left" src="./assets/images/Vector 1.png" alt="" />
            <h3>সভাপতি</h3>
            <img class="img-right" src="./assets/images/Vector 2.png" alt="" />
          </div>
          <h3 class="left">প্রফেসর মোহাম্মদ ইউসুফ</h3>
        </div>
        <!-- END of title -->

        <p>
          মানব কল্যাণ, অসাম্প্রদায়িক চেতনা, সামাজিক সৌহার্দ্যপূর্ণ সম্পর্ক,
          উন্নততর জীবন ও মানবিক মূল্যবোধ বিকাশের ক্ষেত্রে শিক্ষার ভূমিকা
          অনস্বীকার্য। শিক্ষাই পারে জীবনের গতিপথের সার্বিক পরিবর্তন করতে।
          শিক্ষাকে উপজীব্য করে অনেক জাতিই বিশ্ব দরবারে প্রশংসিত ও প্রতিষ্ঠিত
          হয়েছে। বিশ্ব আজ দ্রুত পরিবর্তনের ধারায় ধাবমান। এই পরিবর্তনকে মানিয়ে
          নিতে আমাদেরকেও সামনের দিকে এগিয়ে যেতে হবে। বিশ্বায়নের চ্যালেঞ্জকে
          মাথায় নিয়ে বর্তমান সরকারের 'রূপকল্প ২০২১' বাস্তবায়নের পর সবাইকে সমান
          তালে এগিয়ে যেতে হবে পরবর্তী লক্ষ্যে। ২০৪১ সালের মধ্যে উন্নত রাষ্ট্র
          গঠনের যে সোপানে আমাদের যাত্রা শুরু হয়েছে তার সফল পরিসমাপ্তিতে আজকের
          ছাত্র সমাজকেই অগ্রণী ভূমিকা পালন করতে হবে। সেই প্রচেষ্টায় ঢাকা কলেজ
          একটি উজ্জ্বল নাম। বর্তমানে এই প্রতিষ্ঠানের নতুন উদ্যোগ
          'অনলাইনকার্যক্রম' সেই প্রচেষ্টাকে আরও বহুগুণ বাড়িয়ে দিয়েছে। সরকার
          ঘোষিত ডিজিটাল বাংলাদেশ বিনির্মাণে প্রতিষ্ঠানের পথ চলা হোক দীপ্তিময়। এ
          প্রতিষ্ঠানের শিক্ষার্থীরা নিজ নিজ ক্ষেত্রে একজন সফল মানুষ হিসেবে
          প্রতিষ্ঠিত হবে এ <span>আমার প্রত্যাশা</span>
        </p>

        <div class="btn">
          <button class="formal">Formal Principles</button>
          <button class="see-more">See More</button>
        </div>
        <!-- END! btn -->
      </div>
      <!-- END of text -->
    </div>
    <!-- END of principle -->
  </div>
</div>
<!-- END! home-teachers-main -->
