<!--order-process-system-->
<div class="order-process-system">

</div>

<!---confirm-area-->
<div class="confirm-area">
  <div class="container">
    <div class="confirm-main">
      <div class="confirm-info">
        <div class="confirm-check">
          <span><i class="fa fa-check"></i></span>
          <div class="confirm-text1">
            <p> Your Order ID: {{orderId}}</p>
          </div>
        </div>
        <div class="confirm-text">
          <h3>Your Order Placed Successfully!</h3>
          <p>Your order has been successfully completed.
            Our customer care representative will call you shortly to confirm the order.</p>
        </div>
      </div>
      <div class="confirm-btn-area">
        <ul>
          <li>
            <button routerLink="/products">Continue Shopping</button>
          </li>
          <li>
            <button class="active-track" routerLink="/account/order-list">View Orders</button>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
