<header class="header-parent">
  <div class="container">
    <div class="header-main">
      <div class="header-toggle">
        <a (click)="onHeaderSidebarOpen()">
          <img src="./assets/images/Mask group.svg" alt="mask" />
        </a>
      </div>

      <div class="header-logo">
        <a><img src="./assets/images/logo.png" alt="logo" /></a>
      </div>

      <div class="header-dis">
        <div class="header-menu">
          <ul>
            <li>
              <a>Home </a>
            </li>

            <li>
              <a>About Us</a>
            </li>

            <li>
              <a>Department</a>
            </li>

            <li>
              <a>Result</a>
            </li>

            <li>
              <a>Notice</a>
            </li>

            <li>
              <a>Admission</a>
            </li>
          </ul>

          <div class="header-main-post">
            <button type="button">
              <span>Login</span>
            </button>
          </div>
          <!-- END! header-bottom-post -->

          <div class="header-main-post header-main-post-next">
            <button type="button">
              <span>Sign Up</span>
            </button>
          </div>
          <!-- END! header-bottom-post-next -->
        </div>
      </div>
    </div>
    <!-- END! header-bottom-main -->
  </div>
</header>
<!-- END! header-bottom -->

<app-header-sidebar #headerSidebar></app-header-sidebar>
<!-- END! header-sidebar -->
