<div class="biodata-area">
    <div class="container">
      <div class="main-content">
        <div class="text-content">
          <h2>Create Biodata in Company</h2>
          <h3>Completely Free of Cost</h3>
          <a href="#" class="primary-button">
            <button>Create Your Biodata</button>
          </a>
        </div>
        <div class="tutorial">
          <h3>How To Create biodata</h3>
          <div
            style="background-image: linear-gradient(to bottom, rgba(0, 1, 6, 0.3), rgba(19, 22, 117, 0.3)),url('assets/images/static/home/b1.jpg')"
            class="thumbnail"
          >
            <a href="#">
              <img src="assets/images/static/home/play.png" alt="play-button" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div><!--END BIODATA AREA-->