

<div class="form-container login-right-part">
  <form #formElement="ngForm"
        [formGroup]="dataForm"
        (ngSubmit)="onSubmit()" autocomplete="off">
    <mat-form-field appearance="outline" class="password">
      <mat-label>New Password</mat-label>
      <input formControlName="password" required matInput placeholder="Enter new password" type="password">
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="password">
      <mat-label>Confirm Password</mat-label>
      <input formControlName="confirmPassword" required matInput placeholder="Enter confirm password" type="password">
      <mat-icon matSuffix>lock</mat-icon>
      <mat-error>This field is required</mat-error>
    </mat-form-field>

    <button mat-raised-button color="warn" type="submit">Reset Password</button>
  </form>

</div>



