<main class="product-area">
  <app-product-info></app-product-info>
  <app-showcase></app-showcase>
</main>

<app-related-products></app-related-products>

<div class="res-bar">
  <div class="res-bar-main">
    <ul>
      <li routerLink="/">
        <span>
          <i class="fas fa-store"></i>
          Store
        </span>
      </li>
      <li>
        <button routerLink="/checkout">Buy Now</button>
      </li>
      <li>
        <button routerLink="/checkout">Add to cart</button>
      </li>
    </ul>
  </div>
</div>
