@import "src/theme/variables";

.container {
 padding-bottom: 40px;
}


.form-container {
  max-width: 600px;
  margin: auto;
  padding: 24px 24px;
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    rgba(223, 192, 80, 0.2),
    rgba(0, 163, 155, 0.2)
  );


  .info-header {
    font-size: 32px;
    padding-bottom: 16px;
    text-align: center;
    font-family: $font-en-primary;
    background-image: linear-gradient(
      to right,
      rgba(223, 192, 80, 1),
      rgba(0, 163, 155, 1)
    );
    background-clip: text;
    color: transparent;
  }


  .input-container {
    width: 100%;

    label {
      font-size: 12px;
      font-weight: 400;
      display: inline-block;
      padding-bottom: 8px;
      span {
        color: red;
      }
    }

    mat-form-field {
      width: 100%;
      input::placeholder {
        font-size: 12px;
      }
    }

    mat-hint {
      font-size: 10px;
    }

    .upload-btn{
        border: 1px dashed rgba(102, 102, 102, 1);
        padding: 16px 0 16px 0;
        width: 100%;
          font-size: 16px;
          line-height: 18.75px;
          text-align: center;
          font-weight: 400;
        .upload-btn-text{
          margin-left: 4px;

        }
      }



  }

  .button-area {
    padding-top: 16px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .previous-button {
      font-size: 16px;
      margin-right: 15px;
      width: 100%;
      border: none;
      padding: 12px 0;
      border-radius: 12px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 16px;
        margin: 0 8px
      }
    }

    .next-button {
      font-size: 16px;
      margin-left: 15px;
      width: 100%;
      border: none;
      padding: 12px 0;
      border-radius: 12px;
      background: linear-gradient(
          to right,
          rgba(223, 192, 80, 1),
          rgba(0, 163, 155, 1)
      );
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        font-size: 16px;
        margin: 0 8px
      }
    }
  }


  .clothes-hint{
    padding-bottom: 20px
  };

  .beard-hint{
    padding-bottom: 38px
  };

  .prayer-hint{
    padding-bottom: 24px
  };

  .category-hint{
    padding-bottom: 60px
  };

  .phone-hint{
    padding-bottom: 44px
  }






  ::ng-deep .mat-mdc-text-field-wrapper {
    background-color: white;
  }
  //::ng-deep .mat-mdc-form-field-infix {
  //  min-height: 15px;
  //}
  ::ng-deep
    .mat-mdc-text-field-wrapper.mdc-text-field--outlined  .mat-mdc-form-field-infix {
    padding: 12px;
  }
}



@media only screen and (max-width: 599px) {

  .form-container{
    padding: 24px 8px
  }

  .clothes-hint{
    margin-bottom: 16px
  };

  .beard-hint{
    margin-bottom: 16px
  };

  .prayer-hint{
    margin-bottom: 28px;
  }

  .category-hint{
    margin-bottom: 28px;
  };

  .phone-hint{
    margin-bottom: 16px
  }
}
