<div class="main-info-container">
  <form class="form-conatiner" [formGroup]="ResetPasswordForm" (ngSubmit)="handleResetPasswordForm()">
    <h1 class="info-header">Reset Your Password</h1>

    <div class="input-container ">
      <label>New Password</label>
      <mat-form-field appearance="outline" class="">
        <input matInput placeholder="" formControlName="newPass"/>
      </mat-form-field>
    </div><!-- END-->

    <div class="input-container ">
    <label>Confirm New password</label>
    <mat-form-field appearance="outline" class="">
      <input matInput placeholder="" formControlName="confirmPass"/>
    </mat-form-field>
  </div><!-- END-->


    <div class="btn-area">
      <button class="verification-btn" type="submit">
        Done
      </button>
    </div> <!-- Buton End -->

  </form> <!-- Form Section END-->
</div>
