<main class="main-container">
  <header>
    <div class="header-bottom">
      <div class="container">
        <div class="header-bottom-main">
          <div
            class="header-bottom-tittle wow animate__fadeInUp animate__delay-1s bounceInUp"
          >
            <h2>Lecturer</h2>
          </div>
          <!-- END! header-bottom-tittle -->

          <mat-tab-group
            class="card-section wow animate__fadeInUp animate__delay-1s bounceInUp"
            mat-stretch-tabs="false"
            mat-align-tabs="start"
            [selectedIndex]="0"
          >
            <mat-tab label="Science">
              <div class="subject-section">
                <a [class.active]="true">Physics</a>
                <a>Biology</a>
                <a>Computer Science</a>
                <a>Chemistry</a>
                <a>Higher Math</a>
                <a>Mathematics</a>
              </div>
              <!--End Subject Section-->

              <div class="card-container">
                <div class="card-section">
                  <img src="./assets/images/one.png" alt="images" />
                  <div class="description-section">
                    <h3>Roza Akter</h3>
                    <h4>Associate Professor & Head</h4>
                    <p>Dept. Of Business Studies</p>
                  </div>
                </div>

                <div class="card-section">
                  <img src="./assets/images/two.png" alt="images" />
                  <div class="description-section">
                    <h3>Roza Akter</h3>
                    <h4>Associate Professor & Head</h4>
                    <p>Dept. Of Business Studies</p>
                  </div>
                </div>

                <div class="card-section">
                  <img src="./assets/images/three.png" alt="images" />
                  <div class="description-section">
                    <h3>Roza Akter</h3>
                    <h4>Associate Professor & Head</h4>
                    <p>Dept. Of Business Studies</p>
                  </div>
                </div>

                <div class="card-section">
                  <img src="./assets/images/four.png" alt="images" />
                  <div class="description-section">
                    <h3>Roza Akter</h3>
                    <h4>Associate Professor & Head</h4>
                    <p>Dept. Of Business Studies</p>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Business Studies">
              <div class="subject-section">
                <a [class.active]="true">Physics</a>
                <a>Biology</a>
                <a>Computer Science</a>
                <a>Chemistry</a>
                <a>Higher Math</a>
                <a>Mathematics</a>
              </div>
              <!--End Subject Section-->

              <div class="card-container">
                <div class="card-section">
                  <img src="./assets/images/one.png" alt="images" />
                  <div class="description-section">
                    <h3>Roza Akter</h3>
                    <h4>Associate Professor & Head</h4>
                    <p>Dept. Of Business Studies</p>
                  </div>
                </div>

                <div class="card-section">
                  <img src="./assets/images/two.png" alt="images" />
                  <div class="description-section">
                    <h3>Roza Akter</h3>
                    <h4>Associate Professor & Head</h4>
                    <p>Dept. Of Business Studies</p>
                  </div>
                </div>

                <div class="card-section">
                  <img src="./assets/images/three.png" alt="images" />
                  <div class="description-section">
                    <h3>Roza Akter</h3>
                    <h4>Associate Professor & Head</h4>
                    <p>Dept. Of Business Studies</p>
                  </div>
                </div>

                <div class="card-section">
                  <img src="./assets/images/four.png" alt="images" />
                  <div class="description-section">
                    <h3>Roza Akter</h3>
                    <h4>Associate Professor & Head</h4>
                    <p>Dept. Of Business Studies</p>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab label="Humanities">
              <div class="subject-section">
                <a [class.active]="true">Physics</a>
                <a>Biology</a>
                <a>Computer Science</a>
                <a>Chemistry</a>
                <a>Higher Math</a>
                <a>Mathematics</a>
              </div>
              <!--End Subject Section-->

              <div class="card-container">
                <div class="card-section">
                  <img src="./assets/images/one.png" alt="images" />
                  <div class="description-section">
                    <h3>Roza Akter</h3>
                    <h4>Associate Professor & Head</h4>
                    <p>Dept. Of Business Studies</p>
                  </div>
                </div>

                <div class="card-section">
                  <img src="./assets/images/two.png" alt="images" />
                  <div class="description-section">
                    <h3>Roza Akter</h3>
                    <h4>Associate Professor & Head</h4>
                    <p>Dept. Of Business Studies</p>
                  </div>
                </div>

                <div class="card-section">
                  <img src="./assets/images/three.png" alt="images" />
                  <div class="description-section">
                    <h3>Roza Akter</h3>
                    <h4>Associate Professor & Head</h4>
                    <p>Dept. Of Business Studies</p>
                  </div>
                </div>

                <div class="card-section">
                  <img src="./assets/images/four.png" alt="images" />
                  <div class="description-section">
                    <h3>Roza Akter</h3>
                    <h4>Associate Professor & Head</h4>
                    <p>Dept. Of Business Studies</p>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>

          <!-- <div
            class="division-section wow animate__fadeInUp animate__delay-1s bounceInUp"
          >
            <a>Science</a>
            <a>Business Studies</a>
            <a>Humanities</a>
          </div> -->
          <!--End Division Section-->

          <div class="btn wow animate__fadeInUp animate__delay-1s bounceInUp">
            <button type="button" class="formal">See More</button>
          </div>
        </div>
      </div>
    </div>
  </header>
</main>
