<section>
    <div class="search-profile-container">
        <!-- filter container start  -->
        <div class="filter-container">
             <div class="single-accordion">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="title">
                                    General
                                </div>
                            </mat-panel-title>
                            <mat-panel-description>
                                
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm looking for</p>
                    </mat-expansion-panel>
                </mat-accordion>
             </div>
             <div class="single-accordion">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="title">
                                    Address
                                </div>
                            </mat-panel-title>
                            <mat-panel-description>
                                
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm looking for</p>
                    </mat-expansion-panel>
                </mat-accordion>
             </div>
             <div class="single-accordion">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="title">
                                    Education
                                </div>
                            </mat-panel-title>
                            <mat-panel-description>
                                
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm looking for</p>
                    </mat-expansion-panel>
                </mat-accordion>
             </div>
             <div class="single-accordion">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                               <div class="title">
                                Personal
                               </div>
                            </mat-panel-title>
                            <mat-panel-description>
                                
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm looking for</p>
                    </mat-expansion-panel>
                </mat-accordion>
             </div>
             <div class="single-accordion">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="title">
                                    Profession
                                </div>
                            </mat-panel-title>
                            <mat-panel-description>
                                
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm looking for</p>
                    </mat-expansion-panel>
                </mat-accordion>
             </div>
             <div class="single-accordion">
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <div class="title">
                                    Other
                                </div>
                            </mat-panel-title>
                            <mat-panel-description>
                                
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <p>I'm looking for</p>
                    </mat-expansion-panel>
                </mat-accordion>
             </div>
             
             
        </div>
        <!-- filter container end  -->

        <!-- profile container start  -->
        <div class="profile-container">
            <app-profile-card-one></app-profile-card-one>
            <!-- profile container end  -->
        </div>
    </div>
</section>