/*** font-family ****/
$font-en-primary: "Rubik", sans-serif;
$font-en-secondery: "Barlow", sans-serif;

/* main color - start */
$color-primary: #00A39B;
$color-secondary:#021945;
$color-primary2:linear-gradient(135deg, hsla(47, 69%, 59%, .10) 0%, hsla(177, 100%, 32%, .10) 65%);
$button-color:linear-gradient(135deg, hsla(47, 69%, 59%, 1) 0%, hsla(177, 100%, 32%, 1) 70%);
/* main color - end */
$heading-color: #39404a;
$color-border: #e8e8e8;
$text-color: #555555;
$color-yellow: #ffab10;
$icon-default-color: #ffffff;
$color-white: #ffffff;
$box-shadow-primary: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);

/**** Container ***/
$container-max-width: 1400px;

// COLOR
$color-light-gray: #777777;

