<main>
  <div class="footer-area">
    <div class="container">
      <div class="footer-main">
        <div class="footer-link link-first">
          <div class="footer-title">
            <h3>Security & Brand</h3>
          </div>
          <!-- END! footer-title -->

          <ul>
            <li>
              <a>Trademark Notice</a>
            </li>

            <li>
              <a>Report Security Issue</a>
            </li>

            <li>
              <a>Report Copyright Infringement</a>
            </li>
          </ul>
          <!-- END! footer-link -->
        </div>
        <!-- END! footer-link -->

        <div class="footer-link link-second">
          <div class="footer-title">
            <h3>Website</h3>
          </div>
          <!-- END! footer-title -->

          <ul>
            <li><a>Accessibility</a></li>
            <li>
              <a>Privacy Statement</a>
            </li>
            <li>
              <a>Digital Accessibility</a>
            </li>
          </ul>
          <!-- END! footer-link -->
        </div>
        <!-- END! footer-link -->

        <div class="footer-link link-third">
          <div class="footer-title">
            <h3>Get In Touch</h3>
          </div>
          <!-- END! footer-title -->

          <ul>
            <li>
              <a>Jobs</a>
            </li>
            <li>
              <a>Contact Durgapur</a>
            </li>
            <li>
              <a>Maps & Directions</a>
            </li>
          </ul>
        </div>
        <!-- END! footer-link -->
      </div>
      <!-- END! footer-main -->

      <div class="footer-link2 footer-mid-section">
        <div class="footer-icon">
          <div class="footer-icon-list">
            <ul>
              <li>
                <a><h2>DURGAPUR</h2></a>
              </li>
              <li>
                <a><h3>COLLEGE</h3></a>
              </li>
              <li>
                <div class="footer-img">
                  <a><img src="./assets/images/logo.png" alt="logo" /> </a>
                </div>
              </li>
            </ul>
          </div>

          <div class="footer-social">
            <ul>
              <li>
                <a><i class="fa-brands fa-twitter"></i></a>
              </li>

              <li>
                <a><i class="fab fa-facebook-f"></i></a>
              </li>

              <li>
                <a><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a><i class="fa-brands fa-snapchat"></i></a>
              </li>
              <li>
                <a><i class="fa-brands fa-whatsapp"></i></a>
              </li>
              <li>
                <a><i class="fa-solid fa-location-dot"></i></a>
              </li>
              <li>
                <a><i class="fab fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END! footer-area -->

  <div class="footer-bottom-copyright">
    <div class="container">
      <div class="ntt">
        <div class="ntt-main">
          <div class="ntt-left">
            <h3>© 2023 The President and Fellows of Durgapur College</h3>
          </div>
          <!-- END! ntt-left -->
        </div>
      </div>
    </div>
  </div>
  <!-- END! footer-bottom-copyright -->
</main>
