
<!-- <app-top-banner [data]="topBanners"></app-top-banner> END Top banner -->
<app-showcase></app-showcase> <!-- END! showcase area -->
<app-filter></app-filter> <!-- END! filter area -->
<app-create-biodata></app-create-biodata><!--End! Create Biodata-->
<app-statistics [data]="statistics"></app-statistics>
<app-how-company-work [data]="userGuides"></app-how-company-work><!--End! How Company Work-->

<div class="scroll">
 <span  #scroll (click)="scrollTop()"><i class="fa fa-arrow-up"></i></span>
</div>

