<main>
  <app-banner></app-banner>
  <!-- END! banner -->

  <!-- <app-home-banner></app-home-banner> -->
  <!-- END! home-banner -->

  <app-home-teachers></app-home-teachers>
  <!-- END! home-teachers -->

  <app-home-college-notice></app-home-college-notice>
  <!-- END! home-college-notice -->

  <app-home-lecture></app-home-lecture>
  <!-- END! home-lecture -->

  <app-home-gallery></app-home-gallery>
  <!-- END! home-gallery -->

  <app-home-successor></app-home-successor>
  <!-- END! home-successor -->

  <app-home-news></app-home-news>
  <!-- END! home-news -->

  <app-home-contact-us></app-home-contact-us>
  <!-- END! home-contact-us -->
</main>
