@import "src/theme/variables";

/* --- contact-main --- */
.contact-main {
  padding-bottom: 20px;
  overflow: hidden;
}

/* --- contact-child --- */
.contact-child {
  margin-top: 30px;

  h2 {
    font-family: $font-en-primary;
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: $heading-color;
    padding-bottom: 32px;
  }

  h3 {
    font-family: $font-en-primary;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    color: #050505;
    letter-spacing: 0.5px;
    padding-bottom: 12px;
  }

  p {
    font-family: $font-en-primary;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
    letter-spacing: 0.5px;
    padding-bottom: 18px;
  }

  .content {
    background-color: #e4e4e4;
    padding: 30px 30px;
    display: flex;
    gap: 40px;
    border-radius: 12px;
    margin: 20px auto;
    max-width: 1000px;
    overflow: hidden;
  }
}

@media (max-width: 700px) {
  .contact-child {
    h2 {
      font-size: 28px;
    }

    .content {
      padding: 20px 20px;
    }
  }
}

@media (max-width: 556px) {
  .contact-child {
    h2 {
      padding-bottom: 16px;
    }
  }
}

@media (max-width: 450px) {
  .contact-child {
    h2 {
      font-size: 24px;
    }
  }
}

/* --- inputs --- */
.inputs {
  width: 60%;
  padding-top: 30px;

  button {
    font-family: $font-en-primary;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background-color: #da3925;
    color: #ffffff;
    padding: 10px 35px;
    border: none;
    border-radius: 9px;
  }
}

/* --- input-box --- */
.input-box {
  margin-bottom: 18px;

  p {
    padding-bottom: 6px;

    label {
      font-family: $font-en-primary;
      font-size: 14px;
      font-weight: 400;
      color: 050505;
      letter-spacing: 0.5px;
      line-height: 15px;
      padding-bottom: 8px;
    }
  }

  .input-doc {
    input {
      width: 100%;
      height: 42px;
      background-color: #ffffff;
      border: none;
      font-family: $font-en-primary;
      font-size: 14px;
      font-weight: 400;
      color: #050505;
      border-radius: 16px;
      outline: 0;
      padding: 5px 12px 4px;

      &::placeholder {
        color: #737373;
      }

      &:focus {
        background-color: #fff;
      }
    }
  }
}

/* --- input-box-textarea --- */
.input-box-textarea {
  margin-bottom: 18px;

  p {
    padding-bottom: 6px;

    label {
      font-family: $font-en-primary;
      font-size: 14px;
      font-weight: 400;
      color: #050505;
      letter-spacing: 0.5px;
      line-height: 15px;
      padding-bottom: 8px;
    }
  }

  .input-doc {
    label {
      margin-bottom: 10px;
    }
    textarea {
      width: 100%;
      resize: none;
      background-color: #ffffff;
      border: none;
      font-family: $font-en-primary;
      font-size: 14px;
      font-weight: 400;
      color: #050505;
      border-radius: 16px;
      outline: 0;
      padding: 10px 12px 7px;

      &::placeholder {
        color: #737373;
      }

      &:focus {
        background-color: #fff;
      }
    }
  }
}

/* --- right-sec --- */
.right-sec {
  width: 40%;
  margin-top: 50px;
  position: relative;

  .footer-social {
    margin-top: 70px;
    img {
      display: block;
    }
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      li {
        margin-right: 12px;

        a {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          color: $color-white;
          background-color: #da3925;
          font-size: 14px;
          font-weight: 600;
          transition: all 0.3s linear;
        }
      }
    }
  }
}

/* --- social-info --- */
.social-info {
  position: absolute;
  margin-top: -60px;
  z-index: 111;

  span {
    font-family: $font-en-primary;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
  }
  ul {
    list-style: none;
    li {
      display: flex;
      gap: 10px;
      margin-bottom: 8px;
      align-items: center;
      margin-right: 12px;

      a {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        color: $color-white;
        background-color: #da3925;
        font-size: 14px;
        font-weight: 600;
        transition: all 0.3s linear;
      }
    }
  }
}

/* --- responsive --- */
@media (max-width: 760px) {
  .content {
    flex-direction: column;
    padding: 20px 10px;
  }
  .inputs {
    padding-top: 0;
    width: 100%;
    button {
      display: flex;
      margin: 0 auto;
    }
  }
  .right-sec {
    width: 100%;
    img {
      display: none;
    }
  }
}
