<div class="contact-main">
  <div class="container">
    <div class="contact-child">
      <h2 class="wow animate__fadeInUp animate__delay-1s bounceInUp">
        Contact Us
      </h2>

      <div class="content wow animate__fadeInUp animate__delay-2s bounceInUp">
        <div class="inputs">
          <h3>Let’s talk</h3>
          <p>
            To request a quote or want to meet up for coffee. contact us
            directly or fill out the form and we will get back to you promptly.
          </p>
          <form>
            <div class="input-box">
              <p>
                <label for="name">Your Name</label>
              </p>

              <div class="input-doc">
                <input type="text" id="name" placeholder="Name" />
              </div>
            </div>
            <!-- END of input-box -->

            <div class="input-box">
              <p>
                <label for="email">Your Email</label>
              </p>
              <div class="input-doc">
                <input type="text" id="email" placeholder="Email" />
              </div>
            </div>
            <!-- END of input-box -->

            <div class="input-box-textarea">
              <p>
                <label for="Description">Your Message</label>
              </p>
              <div class="input-doc">
                <textarea
                  name=""
                  id="Description"
                  cols="30"
                  rows="5"
                  placeholder="Your message..."
                ></textarea>
              </div>
            </div>
            <!-- END of input-box-textarea -->

            <button>Send Message</button>
          </form>
          <!-- END of form -->
        </div>
        <!-- END of inputs -->

        <div class="right-sec">
          <img
            class="wow animate__delay-3s animate__backInRight"
            src="./assets/images/Group 188.png"
            alt=""
          />

          <div class="social-info">
            <ul>
              <li>
                <a><i class="fa-brands fa-whatsapp"></i></a>
                <span>Durgapur College , Rajshahi.</span>
              </li>
              <li>
                <a><i class="fa-solid fa-location-dot"></i></a>
                <span>+8801843541652</span>
              </li>
              <li>
                <a><i class="fa fa-envelope" aria-hidden="true"></i></a
                ><span>durgapurcollage@gmail.com</span>
              </li>
            </ul>
          </div>
          <!-- END of social-info -->

          <div class="footer-social">
            <ul>
              <li>
                <a><i class="fab fa-instagram"></i></a>
              </li>
              <li>
                <a><i class="fa-brands fa-snapchat"></i></a>
              </li>
              <li>
                <a><i class="fab fa-facebook-f"></i></a>
              </li>
              <li>
                <a><i class="fa-brands fa-twitter"></i></a>
              </li>
            </ul>
          </div>
          <!-- END of footer-social -->
        </div>
        <!-- END of right-sec -->
      </div>
      <!-- END of content -->
    </div>
    <!-- END of container -->
  </div>
</div>
