<section>
  <div class="guide-container">
    <h1 class="info-header">Guide</h1>

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              How to create an account in OrdhekDeen.com?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              How to submit biodata in OrdhekDeen.com ?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              How to delete biodata in OrdhekDeen.com ?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              How to edit biodata in OrdhekDeen.com ?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              I perform salah five times a day and wear ‘Burqua or Hijab’ but do not wear ‘Niqab’. Will I be able to upload my biodata?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              Why is my biodata not approved?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              I want to delete my account from OrdhekDeen.com. I don't need my remaining Connections. So, how can I get my refund?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              Why is my biodata not approved?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              Can I upload my biodata if I do not keep beard following sunnah in spite of being a regular performer of saying prayer (Salah) five times a day?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              Could I interact with someone directly if his or her biodata is chosen by me?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              I perform salah five times a day and wear ‘Burqua or Hijab’ but do not wear ‘Niqab’. Will I be able to upload my biodata?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              Can I submit my biodata without taking consent of my guardian?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              Can I upload my biodata while I am a student having no income yet?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              Can I delete my biodata after I get married or for other reasons?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              Can someone else create one’s biodata?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              I am not skilled in using internet. How can I create biodata?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              Are there any postmarital service charges if I get married through OrdhekDeen.com website?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

    <div class="accordion-container">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title >
              Can I upload my biodata if I am not a Bangladeshi citizen?
            </mat-panel-title>
          </mat-expansion-panel-header>

        </mat-expansion-panel>
      </mat-accordion>
    </div> <!--Accordion End -->

  </div>


</section>
