<div class="main-div">
  <div class="sub-main-div">
    <div class="all-purchase">
      <h1>My Purchased</h1>
      <p>You've purchased 1 biodata contact information so far</p>
      <div class="table-container">
        <table class="data">
          <tr>
            <th>#</th>
            <th>Biodata No</th>
            <th>Birthyear</th>
            <th>Location</th>
            <th>Option</th>
          </tr>
          <tr>
            <td>01</td>
            <td>50965</td>
            <td>11/12/2000</td>
            <td>Dhaka</td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="latest-pur">
      <p>Last 5 package purchase data</p>
      <div class="table-container">
        <table class="data">
          <tr>
            <th>#</th>
            <th>Biodata No</th>
            <th>Birthyear</th>
            <th>Location</th>
            <th>Option</th>
          </tr>
          <tr>
            <td>01</td>
            <td>50965</td>
            <td>11/12/2000</td>
            <td>Dhaka</td>
            <td></td>
          </tr>
        </table>
      </div>
    </div>

    <div class="btn-area">
      <a class="primary-button" href="">
        <button>All package purchase Information</button>
      </a>
    </div>
  </div>
</div>
