<section>
  <div class="main-div">
    <div class="title"><h1>Minimum Requirements to Submit Biodata to Al Arabiah</h1></div>
    <div class="sub-div">
      <div class="row-1">
        <div class="subtitle"><h2>For Male</h2></div>

        <div class="card card-1">

          <div class="photo">
            <img
              src="../../../../../assets/images/static/requirements/male.jpg"
              alt=""
            />
          </div>

          <div class="summery">
            <ul>
              <li>5 times a day should be prayed</li>
              <li>Beard should be kept according to Sunnah</li>
              <li>Clothes should be worn above the ankles</li>
              <li>Guardian’s permission is required</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row-2">
        <div class="subtitle"><h2>For Female</h2></div>
        <div class="card card-1">
            
          <div class="photo">
            <img
              src="../../../../../assets/images/static/requirements/female.jpg"
              alt=""
            />
          </div>
          <div class="summery">
            <ul>
              <li>5 times a day should be prayed</li>
              <li>Veil with niqab must be maintained</li>
              <li>Guardian’s permission is required</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row-3">
        <div class="main-div">

        <div class="tiitle"><h2>Terms and condition</h2></div>

        <div class="summery">
          <ul>
            <li>I will provide all information in the biodata truthfully</li>
            <li>I have taken my parent’s permission to create biodata on Al Aaribha</li>
            <li>Al Aaribha.com will not take any legal or hereafter liabilities if I provide any false information</li>
          </ul>
        </div>

        <div class="primary-button">
            <button>Create Your Biodata</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
