<main>
  <header>
    <div class="header-bottom">
      <div class="container">
        <div class="header-bottom-main">
          <div
            class="header-bottom-tittle wow animate__fadeInUp animate__delay-1s bounceInUp"
          >
            <h2>News</h2>
          </div>

          <div class="header-bottom-col">
            <div class="col-1 wow animate__delay-4s animate__backInLeft">
              <div class="news-main">
                <img src="./assets/images/Rectangle 31.png" alt="news" />
                <div class="news-text">
                  <div class="date">
                    17 July <br />
                    2023
                  </div>
                  <div class="text">
                    <h3>
                      উপকূলীয় এলাকায় প্রথমবার বোরো চাষ করে রেকর্ড ফলন: কৃষি
                      মন্ত্রণালয়
                    </h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="rows-news">
              <div class="row-1 wow animate__delay-1s animate__backInRight">
                <div class="row-img-1">
                  <img src="./assets/images/Rectangle 35.png" alt="" />
                </div>
                <div class="row-col-1">
                  <div class="date">17 July 2023</div>
                  <div class="text">
                    <h3>পড়ুয়াদের ভালবাসার পরামর্শ জাতীয় শিক্ষকের</h3>

                    <p>আমরাও চাঁদে যাব বিশ্ব করবো।</p>
                  </div>
                </div>
              </div>

              <div class="row-1 wow animate__delay-2s animate__backInRight">
                <div class="row-img-1">
                  <img src="./assets/images/Rectangle 36.png" alt="" />
                </div>
                <div class="row-col-1">
                  <div class="date">17 July 2023</div>
                  <div class="text">
                    <h3>"বাবারা কিন্তু সব সময় নজর রাখেন"</h3>

                    <p>আমরাও চাঁদে যাব বিশ্ব করবো।</p>
                  </div>
                </div>
              </div>

              <div class="row-1 wow animate__delay-3s animate__backInRight">
                <div class="row-img-1">
                  <img src="./assets/images/Mask group.png" alt="" />
                </div>
                <div class="row-col-1">
                  <div class="date">17 July 2023</div>
                  <div class="text">
                    <h3>আমরাও চাঁদে যাব: প্রধানমন্ত্রী</h3>

                    <p>আমরাও চাঁদে যাব বিশ্ব করবো।</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</main>
