<main>
  <header>
    <div class="header-bottom">
      <div class="container">
        <div class="header-bottom-main">
          <div
            class="header-bottom-tittle wow animate__fadeInUp animate__delay-1s bounceInUp"
          >
            <h2>Sussesor</h2>
          </div>

          <div
            class="header-bottom-col wow animate__fadeInUp animate__delay-1s bounceInUp"
          >
            <swiper
              [autoplay]="true"
              [navigation]="false"
              [slidesPerView]="'auto'"
              [pagination]="true"
              [grabCursor]="true"
              [breakpoints]="{
              '0': {
                slidesPerView: 2,
                spaceBetween: 10
              },
              '578': {
                slidesPerView: 2.7,
                spaceBetween: 10
              },
              '734': {
                slidesPerView: 3.2,
                spaceBetween: 10
              },
              '914': {
                slidesPerView: 4,
                spaceBetween: 10
              },
            }"
              class="mySwiper feature-carousel"
            >
              <ng-template swiperSlide>
                <div class="col-1">
                  <img src="./assets/images/successor.png" alt="" />

                  <div class="col-main">
                    <div class="col-title">
                      <h3>Riya</h3>
                    </div>

                    <ul>
                      <li>
                        <p>Model</p>
                      </li>
                      <li>
                        <p>2000</p>
                      </li>
                    </ul>
                  </div>
                  <!-- END! col-main -->
                </div>
              </ng-template>

              <ng-template swiperSlide>
                <div class="col-1">
                  <img src="./assets/images/successor-1.png" alt="" />
                  <div class="col-main">
                    <div class="col-title">
                      <h3>Munna</h3>
                    </div>

                    <ul>
                      <li>
                        <p>Doctor</p>
                      </li>
                      <li>
                        <p>1996</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </ng-template>

              <ng-template swiperSlide>
                <div class="col-1">
                  <img src="./assets/images/successor-2.png" alt="" />
                  <div class="col-main">
                    <div class="col-title">
                      <h3>Sisir</h3>
                    </div>

                    <ul>
                      <li>
                        <p>Scientist</p>
                      </li>
                      <li>
                        <p>2000</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </ng-template>

              <ng-template swiperSlide>
                <div class="col-1">
                  <img src="./assets/images/successor-2.png" alt="" />
                  <div class="col-main">
                    <div class="col-title">
                      <h3>Sisir</h3>
                    </div>

                    <ul>
                      <li>
                        <p>Scientist</p>
                      </li>
                      <li>
                        <p>2000</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </ng-template>

              <ng-template swiperSlide>
                <div class="col-1">
                  <img src="./assets/images/successor-1.png" alt="" />
                  <div class="col-main">
                    <div class="col-title">
                      <h3>Munna</h3>
                    </div>

                    <ul>
                      <li>
                        <p>Doctor</p>
                      </li>
                      <li>
                        <p>1996</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </ng-template>
            </swiper>
          </div>
        </div>
      </div>
    </div>
  </header>
</main>
